.card-title {
    font-weight: 600;
}

.login-box{
    background: #0a276a;
}

.login-logo a, .register-logo a {
    color: #ffffff !important;
    font-size: 2.0rem !important;
    margin-top: .9rem !important;
}

.card-primary.card-outline {
    border-top: none !important;
}

[class*=sidebar-dark-] {
    background-color: #0a276a !important;
}

.sidebar .fa {
    margin: 10px;
}

[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ffffff;
}

.brand-link .brand-image {
    float:none !important;
}

.login-side-right{
    background-image: url('/img/background.jpg');
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
}

.login-page, .register-page {
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.nav-treeview .nav-link  {
    padding-left: 50px;
}

.small-icon {
    font-size: 2.5rem !important;
}

/* .spinner {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    border: 2px solid;
    border-color: #0a276a;
    border-right-color: #ffffff;
    animation: spinner-d3wgkg 1.4s infinite linear;
 } */

 /* @keyframes spinner-d3wgkg {
    to {
       transform: rotate(1turn);
    }
 } */

 /* .lds-hourglass:after {
    border-radius: 100%;
    width: 50px !important;
    height: 50px !important;
    border: 2px solid !important;
    border-color: #0a276a !important;
    border-right-color: #c4c4c4 !important;
    animation: 3s infinite lds-hourglass !important;
} */

#nprogress .bar {
    background: var(--livewire-progress-bar-color, #29d);
    position: fixed;
    z-index: 99999 !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
}

#nprogress .spinner {
    display: block;
    position: fixed;
    z-index: 9999 !important;
    top: 50% !important;
    right: 40% !important;
}
.laravel-livewire-tables-reorderingMinimised .form-check-input{
    top:-23px;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.page-item:first-child .page-link {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.bg-info {
    background-color: #007bff !important;
}

.content-wrapper>.content {
    padding-bottom: 7rem;
}

.employee-profile-header{
        margin: 0px 0px 0px -20px !important;
        background: #007bff;
}

.bg-light {
    background-color: #ffffff !important;
}

.hovabletbody tr:hover {
    background-color: #f4faff !important; /* Change to your desired highlight color */
}

@media (min-width: 576px) {
    .modal-lg .modal-dialog {
        max-width: none !important;
        margin: 1.75rem;
    }
}

[v-cloak] {
    display: none;
}

#nprogress .bar {
    z-index: 9999; /* Or any high value you need */
}

.content-wrapper>.content {
    padding: 3rem 3rem !important;
}

.card {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15), 0px 0px 10px 0.9px rgba(0, 0, 0, .07) !important;
    margin-bottom: 1rem !important;
}

.groupHaven .left-field{
    border-radius: .25rem 0 0 0.25rem !important;
}

.groupHaven .right-field{
    border-radius: 0 0.25rem 0.25rem 0 !important;
}
